{{- $self_close := eq ( .Params.emptyElementStyle | default .Site.Params.emptyElementStyle ) "self-close" }}
<head>
    <meta charset="utf-8"{{ if $self_close }} /{{ end }}>
    <meta name="viewport" content="width=device-width, initial-scale=1"{{ if $self_close }} /{{ end }}>
    {{ partial "helpers/head/head-basics.html" . -}}
    {{- partial "helpers/head/engines-bots.html" . -}}
    {{- partial "helpers/head/resources-pipes.html" . }}
    {{- partial "helpers/head/metadata.html" . -}}
    {{- if eq (.Param "useBaseURL") true -}}{{- if $.Site.BaseURL }}
    <base href="{{ $.Site.BaseURL }}"{{ if $self_close }} /{{ end }}>{{- end }}{{- end }}
</head>
{{- /* Remove trailing newlines */ -}}
