{{- $curPage := .Page }}
    <section class="metadata-gather-test-metadata-central">
        <h2>{{ i18n "metadataGatherTest" }}</h2>
        <ul>
        {{- $dataGathered := (partial "helpers/return-metadata" (dict "page" $curPage)) -}}
        {{- range $key, $dataValue := $dataGathered -}}
            {{- if and (not $dataValue) (not (reflect.IsSlice $dataValue)) -}}
                {{- $dataValue = "<i>(nil)</i>" | safeHTML -}}
            {{- else if reflect.IsSlice $dataValue -}}
                {{ $dataSlice := (slice) }}
                {{- range $dataValue -}}
                    {{- if reflect.IsMap . -}}
                        {{- $displayValue := (slice) -}}
                        {{- range $dataKey, $innerValue := . -}}
                            {{- $displayValue = $displayValue | append (printf "\"%s\": \"%s\"" $dataKey ($innerValue | string)) -}}
                        {{- end -}}
                        {{- $dataSlice = $dataSlice | append (printf "{ %s }" (delimit $displayValue ", ")) -}}
                    {{- else -}}
                        {{- $dataSlice = $dataSlice | append . -}}
                    {{- end -}}
                {{- end -}}
                {{- $dataValue = printf "[%s]" (delimit $dataSlice ", ") -}}
            {{- else if reflect.IsMap $dataValue -}}
                {{- $displayValue := (slice) -}}
                {{- range $dataKey, $innerValue := . -}}
                    {{- $displayValue = $displayValue | append (printf "\"%s\": \"%s\"" $dataKey ($innerValue | string)) -}}
                {{- end -}}
                {{- $dataValue = printf "{ %s }" (delimit $displayValue ", ") -}}
            {{- end }}
            <li><b>{{ $key }}:</b> {{ $dataValue }}</li>
        {{- end }}
        </ul>
        <h2>{{ i18n "metadataForHeadElementTest" }}</h2>
        <pre><code>
    {{ partial "head/metadata" . | htmlEscape | safeHTML -}}
        </code></pre>
    </section>