{{- if (.Params.microformatsEnable | default .Site.Params.microformatsEnable | default true) -}}
{{- $metadataGathered := partial "helpers/return-metadata.html" (dict "page" .Page) -}}
{{- $microformatsContext := (dict "curPage" .Page "metadataGathered" $metadataGathered) -}}
    {{- partial "helpers/lib-output/microformats/facebook.html" $microformatsContext }}
    {{- partial "helpers/lib-output/microformats/opengraph.html" $microformatsContext }}
    {{- partial "helpers/lib-output/microformats/schema.html" $microformatsContext }}
    {{- partial "helpers/lib-output/microformats/twitter_cards.html" $microformatsContext -}}
{{- end -}}